body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 950px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

h3 {
    margin-bottom: 10px;
    color: #555;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    width: 100%;
}

.detail-item {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label {
    font-weight: bold;
    margin-right: 10px;
    
}

.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    margin-left: 10px;
}

.send-otp-button, .submit-otp-button, .save-button, .edit-all-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.send-otp-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
}

.timer {
    font-size: 14px;
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
#popup-content label{
    width: 150px;
}
#popup-content input{
    margin: 0;
}
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
